<p>condition works!</p>

<div class="container">
  <fieldset>
    <legend>Filter Product</legend>
    <input type="radio" name="filter" [(ngModel)]="filter" value="Electronics">Electronics
    <input type="radio" name="filter" [(ngModel)]="filter" value="Shoes">Shoes
  </fieldset>

  <h2>Product List</h2>

  <table class="table table-hover">
    <thead>
      <th>Name</th>
      <th>Price</th>
      <th>Category</th>
    </thead>

    <tbody>
      <tr *ngFor="let item of products">
        <ng-container *ngIf="item.Category==filter">
          <td>{{item.Name}}</td>
          <td>{{item.Price}}</td>
          <td>{{item.Category}}</td>
        </ng-container>
      </tr>
    </tbody>

  </table>

</div>
