<div class="container">

  <h2>Product Details</h2>
  <dl>
    <dt>Name</dt>
    <dd>{{product.Name}}</dd>

    <dt>Price</dt>
    <dd>{{product.Price}}</dd>

    <dt>
      <button (click)="DisplayClick()" class="btn btn-primary">Preview => {{btnText}}</button>
    </dt>

    <dd>
      <div *ngIf="isVisible">
        <img [src]="product.Photo" width="400" height="400" alt="Iphone Image">
      </div>
    </dd>
  </dl>

  <!-- *ngIf else example ..template reference variable ng-template-->
  <div *ngIf="isActive; then firsttemplate; else secondtemplate"></div>
  <ng-template #firsttemplate>I am from First Container</ng-template>
  <ng-template #secondtemplate>I am from Second Container</ng-template>


</div>
