<!-- display OnlineShoppingComponent in app.component.html here -->
<!-- By default whenever my application is loaded the first component which we are setting here is app.component..
app.component contains empty path..whenever it reaches empty path then which component has to be loaded here
OnlineShoppingComponent has to be loaded in app.component.html that is what we are giving <router-outlet>
</router-outlet> here.. online-shopping.component.html file should contain hyperlinks.. -->
<div>
  <h4>Child Routes</h4>
  <div id="container">
    <router-outlet></router-outlet>
  </div>
</div>
