<div class="class1">
  <h4>Pipes Demo</h4>
  City: {{city}}<br>
  Salary:{{salary}}<br>
  n:{{n}}<br>
  CurrentTime: {{dt}}<br>
  Person: {{person}}
  <br><br>
  <hr>
  <br><br>
  Uppercase: {{city|uppercase}}<br>
  Lowercase: {{city|lowercase}}<br>
  <!-- from the second index, till how elements you want to slice/remove .. till 6th index-->
  Slice: {{city|slice:2:6}}<br>
  <!-- number is of type -->
  Number: {{salary|number:".2"}}<br>
  <!-- we can apply different currencies -->
  Currency: {{salary|currency}}<br>
  <!-- to display in Indian rupees -->
  Currency: {{salary|currency:"INR"}}<br>
  Currency: {{salary|currency:"EUR"}}<br>
  Currency: {{salary|currency:"GBP"}}<br>
  <!-- to display in percentage -->
  Percentage: {{n|percent}}<br>
  <!-- json itself is a pipe available -->
  Person: {{person|json}}<br>
  <!-- to format the dates -->
  ShortDate:{{dt|date:'shortDate'}}<br>
  LongDate:{{dt|date:'longDate'}}<br>
  MediumDate:{{dt|date:'mediumDate'}}<br>
  <br><br>
  <h4>Custom Pipe</h4>
  <!-- to display value in the form of hours or minutes ..proper time format -->
  Video Duration: {{videoduration|duration: 'hoursonly'}}<br>
  Video Duration: {{videoduration|duration: 'hoursandminutes'}}
</div>
