<!-- "myDir" is directive name.. whenever user click mouse on this I want to change dynemic styles like background color etc.. I dont want to use [ngStyle],[ngClass].. same directive I can apply for multiple elements.. next generate a directive-->
<h1 myDir [var_one]=color1.value [var_two]=color2.value>Welcome to Custom Directives</h1>


<p myDir [var_one]=color1.value [var_two]=color2.value>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
  Cupiditate odit, iure facere perspiciatis soluta impedit et itaque officia, eligendi voluptates rerum. Vel nemo nihil
  veritatis molestiae voluptate, laborum vero sint.</p>

<input type="color" #color1>
<input type="color" #color2>
