<div>
  <h2>Product List</h2>
  <ol>
    <li *ngFor="let item of products">{{item}}</li>
  </ol>

  <h2>Product List-2</h2>
  <ol>
    <!--<li *ngFor="let item of data">{{item|json}}</li> -->
    <li *ngFor="let item of data">
      {{item.category}}
      <ul>
        <li *ngFor="let x of item.products">{{x}}</li>
      </ul>
    </li>
  </ol>

  <h2>Product List-3</h2>


  <h2>Product List-4 By using cards</h2>
  <div class="card-deck text-center">
    <div class="card">
      <div class="card-header"></div>
      <div class="card-body"></div>
      <div class="card-footer"></div>
    </div>
  </div>

</div>>
